<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />

</head>

<body style="display:none">
    @Html.Action("_DashBoardPartial", "Home")
    <div id="contents">
        @RenderBody()
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", required: false)
</html>

<script>
    $(document).ready(function () {
        $("body").show();
    });

</script>
<style>
    ::-webkit-scrollbar {
        background: transparent;
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

    body {
        background-color: white;
    }

    #contents {
        position: absolute;
        margin-left: 17%;
        background-color: white;
        height: 100%;
        width: 83%;
    }
    .container-fluid {
        -moz-transform: scale(0.9, 0.9);
        zoom: 0.90;
        zoom: 90%;
    }

    /* NAGIVATION BAR  */

    .side-nav {
        -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
        zoom: 0.9; /* Other non-webkit browsers */
        zoom: 90%; /* Webkit browsers */
        float: left;
        height: 100%;
        width: 17%;
        background-color: #34495E;
        color: #CCC;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        z-index: 9999999
    }

        .side-nav .close-aside {
            position: absolute;
            top: 7px;
            right: 7px;
            cursor: pointer;
            color: #EEE;
        }

        .side-nav .heading {
            background-color: #34495E;
            padding: 10px 15px 15px 30px;
            overflow: hidden;
            border-bottom: 1px solid #2a2b3c
        }



        .side-nav .info {
            float: left;
            width: 69%;
            margin-left: 3%;
        }

        .side-nav .heading .info > h3 {
            margin: 0 0 5px
        }

    #nesto55 {
        color: #EEE;
        font-weight: 100;
        margin-top: 16px;
        display: block;
        text-decoration: none;
        font-size: 18px;
    }

    .side-nav .heading .info > h3 > a:hover {
        color: #FFF;
    }

    .side-nav .heading .info > p {
        color: #BBB;
        font-size: 13px;
    }
    /* End heading */


    .side-nav .categories > li {
        padding: 17px 40px 17px 30px;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, 0.02);
        cursor: pointer;
    }

        .side-nav .categories > li > a {
            color: #1f97b7;
            text-decoration: none;
        }
            /* Start num: there are three options primary, danger and success like Bootstrap */
            .side-nav .categories > li > a > .num {
                line-height: 0;
                border-radius: 3px;
                font-size: 14px;
                color: #FFF;
                padding: 0px 5px
            }

    .dang {
        background-color: #f35959
    }

    .prim {
        background-color: #0275d8
    }

    .succ {
        background-color: #5cb85c
    }
    /* End num */
    .side-nav .categories > li > a:hover {
        color: #FFF;
    }

    .side-nav .categories > li > i {
        font-size: 18px;
        margin-right: 20px
    }


    .side-nav .categories p {
        margin-left: 30px;
        color: #535465;
        margin-top: 10px;
    }

    /* End dropdown menu */

    .show-side-nav {
        -webkit-transform: translateX(-290px);
        -moz-transform: translateX(-290px);
        transform: translateX(-290px);
    }
</style>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
